*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    height: 100%;
    width: 100%;
}
body {
    background-image: url(https://media.discordapp.net/attachments/1001067895549337710/1207406504161054730/1E8556AA-C416-4938-B90C-9E34C869256D.png?ex=65df87ef&is=65cd12ef&hm=8a153b8624e1662dfdc44e4ad52f62601d89a82bb8baeb36dd494699ceb8ceb9&);
    background-repeat: repeat-x;
    font-family: "Poppins", sans-serif;
    --color2: #D99F33 ;
    font: 15px/1.5 Arial, Helvetica,sans-serif;
    margin:0;
}
.ocn {
color: white;
}
                                                                                                                                                                                   

   .nav-bar {
position: fixed;
z-index: 999;
display: flex;
justify-content: space-between;
align-items: center;
list-style: none;
background-color: transparent;
padding: 12px 20px;
      } 

.menu {display: flex;}
.menu li {padding-left: 30px;}
.menu li a {
    display: inline-block;
    text-decoration: none;
    color: white;
    text-align: center;
    transition: 0.15s ease-in-out;
    position: relative;
    text-transform: uppercase;
}
.menu li a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: gold;
    transition: 0.15s ease-in-out;
}
.menu li a:hover:after {width: 100%;}
.open-menu , .close-menu {
    position: absolute;
    color: gold;
    cursor: pointer;
    font-size: 1.5rem;
    display: none;
}
.open-menu {
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}
.close-menu {
    top: 20px;
    right: 20px;
}
#check {display: none;}
@media(max-width: 610px){
    .menu {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80%;
        height: 100vh;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 100;
        background-color: var(--color2);
        transition: all 0.2s ease-in-out;
        border-left: 4px solid gold;
    }
    .menu li {margin-top: 40px;}
    .menu li a {padding: 10px;}
    .open-menu , .close-menu {display: block;}
    #check:checked ~ .menu {right: 0;}
}

        .dark { 
   padding: 15px;
   background: #D99F33;
   color:white;
   margin-top:10px; 
   margin-bottom:10px; 
   border: 2px solid gold;
                }
  
      .box {
   background-color: #D99F33;
   height: 300px;
   width: 300px;
   margin: 10% auto;
   border-radius: 25%;
   position: relative;
         }

      .box2 {
   background-color: #D99F33;
   height: 2000px;
   width: 300px;
   margin: 10% auto;
   border-radius: 25%;
   position: relative;
         }


        .text {
    position: absolute;
    height: auto;
    width: inherit;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    font-family: Arial;
    font-style: italic;
          }

                                                                                                                                        button {
position: relative;
width: 200px;
padding: 15px 0;
text-align: center;
margin: 20px 10px;
font-weight: bold;
border: 2px solid gold;
background: #D99F33;
color: white;
cursor: pointer;
overflow: hidden;
    }
